.footer_area{
	background: #000;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  margin-top: 2rem;
}

.banner{
	font-family: 'Press Start 2P', cursive;
	font-weight: bold;
	background: #4682b4;
	border-radius: 0rem;
}

.juegos{
    font-family: "Roboto", sans-serif;
}

.discord{
	width: 30%;
	height: auto;
}

.ip{
	font-weight: bold;
	color: #4682b4;
}

.subtitle{
  padding-left: 0.5rem;
  padding-top: 0.5rem;
  background: #000;
  border: 3px solid white; 
}

@media (max-width: 992px) {
  .banner { 
    text-align: center;
  }

  .title{

  }

}